# Recuperar senha

Clique no link abaixo para recuperar sua senha:
<div style="line-break: normal; word-break: break-word;">
  <a href="<%= url %>"><%= url %></a>
</div>
<br>
Este link é válido até <%= expiresWhen.toLocaleString() %>.
<br>
<br>
<br>
Este e-mal foi enviado em <%= new Date().toLocaleString() %> pelo endereço: <%= app_ip %>
<br>