<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>static/img/theme/favicon.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/solid.css" integrity="sha384-TN9eFVoW87zV3Q7PfVXNZFuCwsmMwkuOTOUsyESfMS9uwDTf7yrxXH78rsXT3xf0" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/regular.css" integrity="sha384-e46AbGhCSICtPh8xpc35ZioOrHg2PGsH1Bpy/vyr9AhEMVhttzxc+2GSMSP+Y60P" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/brands.css" integrity="sha384-MiOGyNsVTeSVUjE9q/52dpdZjrr7yQAjVRUs23Bir5NhrTq0YA0rny4u/qe4dxNj" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/fontawesome.css" integrity="sha384-PRy/NDAXVTUcXlWA3voA+JO/UMtzWgsYuwMxjuu6DfFPgzJpciUiPwgsvp48fl3p" crossorigin="anonymous">
  <title><%= VUE_APP_EJS_OPEN_TAG %>= app_full_name <%= VUE_APP_EJS_CLOSE_TAG %></title>
</head>
<body>
  <noscript>
    <strong>We're sorry but tst doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <script>
    window.app_loggedIn = <%= VUE_APP_EJS_OPEN_TAG %>= app_loggedIn ? 'true' : 'false' <%= VUE_APP_EJS_CLOSE_TAG %>;
    window.app_gitv = '<%= VUE_APP_EJS_OPEN_TAG %>= app_git_v ? app_git_v : "-v-" <%= VUE_APP_EJS_CLOSE_TAG %>';
    window.app_full_name = '<%= VUE_APP_EJS_OPEN_TAG %>= app_full_name <%= VUE_APP_EJS_CLOSE_TAG %>';
    window.app_short_name = '<%= VUE_APP_EJS_OPEN_TAG %>= app_short_name <%= VUE_APP_EJS_CLOSE_TAG %>';
    window.app_website = '<%= VUE_APP_EJS_OPEN_TAG %>= app_website <%= VUE_APP_EJS_CLOSE_TAG %>';
    window.app_context = 'account';
    window.app_url = '<%= VUE_APP_EJS_OPEN_TAG %>= app_url <%= VUE_APP_EJS_CLOSE_TAG %>';
    window.app_frontend_url = '<%= VUE_APP_EJS_OPEN_TAG %>= app_frontend_url <%= VUE_APP_EJS_CLOSE_TAG %>';
  </script>
  <div id="app"></div>
  <%= VUE_APP_EJS_OPEN_TAG %>- include('../partials/flash.ejs', { app_flashes: app_flashes }); <%= VUE_APP_EJS_CLOSE_TAG %>
  <!-- built files will be auto injected -->
</body>

</html>