<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="<%= BASE_URL %>static/img/theme/favicon.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <title><%= VUE_APP_EJS_OPEN_TAG %>= app_full_name <%= VUE_APP_EJS_CLOSE_TAG %></title>
</head>
<body>
  <noscript>
    <strong>We're sorry but tst doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>
  <script>
    window.app_loggedIn = <%= VUE_APP_EJS_OPEN_TAG %>= app_loggedIn ? 'true' : 'false' <%= VUE_APP_EJS_CLOSE_TAG %>;
    window.app_gitv = '<%= VUE_APP_EJS_OPEN_TAG %>= app_git_v ? app_git_v : "-v-" <%= VUE_APP_EJS_CLOSE_TAG %>';
    window.app_full_name = '<%= VUE_APP_EJS_OPEN_TAG %>= app_full_name <%= VUE_APP_EJS_CLOSE_TAG %>';
    window.app_short_name = '<%= VUE_APP_EJS_OPEN_TAG %>= app_short_name <%= VUE_APP_EJS_CLOSE_TAG %>';
    window.app_website = '<%= VUE_APP_EJS_OPEN_TAG %>= app_website <%= VUE_APP_EJS_CLOSE_TAG %>';
    window.app_context = 'account';
  </script>
  <div id="app"></div>
  <%= VUE_APP_EJS_OPEN_TAG %>- include('../partials/flash.ejs', { app_flashes: app_flashes }); <%= VUE_APP_EJS_CLOSE_TAG %>
  <!-- built files will be auto injected -->
</body>

</html>