</div>
</div>
<div style="text-align: center;">
  <br />
  <br />
  <img style="width: 240px;" src="<%= app_logo_base64 %>" />
  <br />
  <a style="text-decoration: none; color: #007bff;" href="<%= app_website %>"><%= app_website %></a>
</div>
<p style="color: lightslategrey; margin: 20px; padding: 20px; font-family: Times, 'Times New Roman', serif">
  Este é um e-mail automático. Por favor não responda, esta caixa não é monitorada.
  <br />
  O conteúdo deste e-mail é confidencial. Caso você o recebeu por engano, informe o remetente e remova esta mensagem.
  <br /> &copy; <%= new Date().getFullYear() %> <%= app_full_name %>. Todos os direitos reservados.
</p>
</td>
</tr>
</table>
</body>